extends layout

block content
  h1= title

  form(action='/login' method='post')
      input(type='text' name='username' placeholder='Pseudo')
      input(type='password' name='password' placeholder='Mot de passe')
      input(type='submit')
  a(href='/register') Créer un compte
