extends layout

block content
    form(action='/register' method='post')
        input(type='text' name='username' placeholder='Pseudo')
        input(type='email' name='email' placeholder='Email')
        input(type='password' name='password' placeholder='Mot de passe')
        input(type='submit')

