extends ../layout

block content
    h1= title

    p= 'Vous êtes connecté en tant que ' + user.username

    form#message(action='/chats/message' method='post')
        textarea(name='content' placeholder='Votre message')
        input(type='submit')

    section#list-messages
        each message in messages
            article
                em= 'Posté ' + moment(message.createdAt).fromNow() + ' par ' + message.user.username
                p= message.content

block append javascripts
    script(src='javascripts/socket.io.js')
    script(src='javascripts/script.js')